body
{
	background-color: black;
}

header
{
	color: white;
	text-align: center;
	font-size: 36px;
}
#mapa
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 800px;
}
canvas
{
	/*background-color: aqua;*/
}